/* 基础样式，规约统一前缀 */

/* ---------------标签全局设置---------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	/* background-color:#f6f6f6; */

}

a {
	text-decoration: none;
}


ul {
	list-style: none;
}

img {
	width: 100%;
	height: 100%;
}

/* ---------------布局设置---------------- */

.ba-flex {
	display: flex;
}

.ba-col-12 {
	flex: 1 1 100%;
}

.ba-col-10 {
	flex: 1 1 83.33%;
}
.ba-col-9{
	flex:1 1 75%
}
.ba-col-8 {
	flex: 1 1 66%;
	border-radius: 3px;
}

.ba-col-6 {
	flex: 1 1 50%;
}

.ba-col-4 {
	flex: 1 1 33%;
	border-radius: 3px;
}

.ba-col-3 {
	flex: 1 1 25%;
}

.ba-col-2 {
	flex: 1 1 16.6%;
}

.ba-col-1 {
	flex: 1 1 8.3%;
}

/* ---------------对齐方式---------------- */

/* x轴为主轴,水平方向均分 */
.ba-xx-a {
	display: flex;
	justify-content: space-around;
}

/* x轴为主轴,水平方向两端对齐 */
.ba-xx-b {
	display: flex;
	justify-content: space-between;
}

/* x轴为主轴,水平方向居中 */
.ba-xx-c {
	display: flex;
	justify-content: center;
}

/* x轴为主轴,水平方向居右 */
.ba-xx-e {
	display: flex;
	justify-content: flex-end;
}

/* x轴为主轴,垂直方向均分 */
.ba-xy-a {
	display: flex;
	align-items: space-around;
}

/* x轴为主轴,垂直方向两端对齐 */
.ba-xy-b {
	display: flex;
	align-items: space-between;
}

/* x轴为主轴,垂直方向居中 */
.ba-xy-c {
	display: flex;
	align-items: center;
}

/* x轴为主轴,垂直方向居下 */
.ba-xy-e {
	display: flex;
	align-items: flex-end;
}





/* y轴为主轴,垂直方向居中 */
.ba-yy-c {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* y轴为主轴,垂直方向两端对齐 */
.ba-yy-b {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


